*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(48, 48, 219);
    height: 500px;
}
/* 
body::-webkit-scrollbar{
    width: 20px;
}

body::-webkit-scrollbar-track{
    background-color: whitesmoke;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(blue,white);
    border-radius: 20px;
    height: 20px;
} */

#mainBox{
    width: 800px;
    height: 440px;
    background-color: rgb(243, 241, 241);
    margin: 30px 0 0 80px;
    border-radius: 20px;
    box-shadow: 2px 8px 30px rgb(245, 237, 237);
}

#messageBox{
    height: 370px;
    color: rgb(5, 5, 117);
    font-size: 20px;
    overflow-y: scroll;
    padding-left: 5px;
   

}


#value{
    margin-top: 30px;
    margin-left: 02px;
    width: 700px;
    height: 40px;
    border-radius: 19px;
    border-bottom: solid blue;
    border-top: rgb(243, 241, 241);
    border-left: rgb(243, 241, 241);
    border-right: rgb(243, 241, 241);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(5, 5, 161);
    padding-left: 15px;
}

#send{
    font-size: 25px;
    margin-left: 720px;
    margin-top: -42px;
    padding-left: 22px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(5, 5, 161);
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    height: 40px;

}

#send:hover{
    background-color: blue;

}

#send:active{
    background-color: white;
}

h1{
    color: rgb(5, 5, 146);
    text-align: center;
    font-size: 40px;
    border-bottom: solid blue;
} 

#dev{
    font-size: 10px;
}

#myfile{
    position: absolute;
    right: 230px;
    bottom: 15px;
    visibility: hidden;
}

#custom_button{
    width: 30px;
    height: 30px;
    margin-left: -45px;
    margin-bottom: -20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    font-size: 40px;
    color: rgb(5, 5, 146);
    background-color:transparent;
    border-style: none;
    outline: none;
    cursor: pointer;

    
}

#btndiv{
    text-align: center;
}

#loginBtn{
margin-top: 120px;
width: 160px;
height: 70px;
background-color: white;
color: blue;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
outline: none;
border-style: none;
border-radius: 30px;
box-shadow: 2px 0 20px inset blue;
}

.remove{    

    font-size: 7px;
    margin-left: 5px;
}

#loginBtn:active{
    background-color: blue;
    color: white;
}

input:focus{
    outline: none;
}

.body2{
    background-color: blue;
}

.signup{
    text-align: center;
    box-shadow: 1px 0px 15px white;
    width: 500px;
    height: 150px;
    margin: 60px 0px 0px 450px;
    border-radius: 30px;

}

#email{
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#password{
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#signup{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    margin-top: 5px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: blue;
    outline: none;
}

#signup:active{
    background-color: blue;
    color: white;
}

.signin{
    text-align: center;
    box-shadow: 1px 1px 10px white;
    margin: 100px 0px 0px 500px;
    width: 500px;
    height: 150px;
    margin: 60px 0px 0px 450px;
    border-radius: 30px;

}

#email_login{
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#password_login{
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signin{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    margin-top: 5px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: blue;
    outline: none;
}

#signin:active{
    background-color: blue;
    color: white;
}






.signout{
margin: -55px 0px 3px 700px;
}

#signout{
    /* border-style: none; */
    border-radius: 30px;
    border-color: rgb(5, 5, 146);
    width: 60px;
    height: 60px;
    background-color: rgb(243, 241, 241);
    color: rgb(5, 5, 146);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    box-shadow: 0px 0px 10px gray;
    
}

#signout:active{
    background-color: rgb(5, 5, 146) ;
    color: rgb(243, 241, 241);
}





@media only screen and (max-width: 965px){

    body{
        height: 500px;
    }

    #mainBox{
        width: 500px;
    }

    #value{
        width: 400px;
    }

    #send{
        padding-left: 70px;
        margin-left: 420px;
    }

    #messageBox{
    padding-left: 5px;

    }

    .fa{
        margin-left: -45px;
    }

    #signout{
        width: 50px;
        height: 50px;
        margin: -25px 0px 3px -455px;
    }

    /* .signup{
        text-align: center;
        box-shadow: 1px 0px 15px white;
        width: 500px;
        height: 150px;
        /* margin: 60px 0px 0px 0px; */
        border-radius: 30px;
        position: fixed;
        left: -210px;
        top: 40px;
    
    } */

    /* .signin{
        text-align: center;
        box-shadow: 1px 1px 10px white;
        margin: 100px 0px 0px 500px;
        width: 500px;
        height: 150px;
        margin: 60px 0px 0px 0px;
        border-radius: 30px;
        position: fixed;
        left: 240px;
        top: 280px;
    
    } */

    /* #btndiv{
        text-align: center;
        /* margin-left: 80px; */
        position: fixed;
        left: 410px;
        top: 480px;
    } */
}

/* Apply MEDIA QUERY */


@media only screen and (max-width: 656px){

    body{
        height: 200px;
    }

    h1{
        font-size: 25px;
        padding-bottom: 20px;

    }

    #mainBox{
        width: 350px;
        height: 480px;
    }

    #value{
        width: 250px;
        margin-top: 20px;
    }

    #send{
        padding-left: 70px;
        margin-left: 270px;
    }

    .fa{
        margin-left: -45px;
    }

    #messageBox{
        height: 410px;
        font-size: 30px;
        padding-left: 5px;

    }

    #signout{
        width: 30px;
        height: 30px;
        margin: 30px 0px 0px -738px;
        font-size: 8px;
    }

    .signup{
        text-align: center;
        box-shadow: 1px 0px 15px white;
        width: 500px;
        height: 150px;
        margin: 60px 0px 0px 80px;
        border-radius: 30px;
    
    }

    .signin{
        text-align: center;
        box-shadow: 1px 1px 10px white;
        margin: 100px 0px 0px 500px;
        width: 500px;
        height: 150px;
        margin: 60px 0px 0px 80px;
        border-radius: 30px;
    
    }

    #btndiv{
        text-align: center;
        /* margin-left: 80px; */
        position: fixed;
        left: 250px;
    }
}

@media only screen and (max-width: 500px){

    body{
        height: 30px;
    }

    #mainBox{
        width: 280px;
        height: 482px;
    
    }

    #value{
        width: 190px;
        margin-top: 35px;
    }

    #send{
        padding-left: 64px;
        margin-left: 210px;
    
    }

    h1{
        color: rgb(5, 5, 146);
        /* text-align: ; */
        font-size: 20px;
        border-bottom: solid blue;
        padding-bottom: 0px;
        padding-right: 30px;
    } 

    #dev{
        font-size: 7px;
    }

    /* .fa{
        margin-left: -45px;
    } */

    #messageBox{
        height: 410px;
        font-size: 30px;
        padding-left: 5px;

    }

    #signout{
        width: 30px;
        height: 30px;
        margin: 37px 0px 0px -878px;
        font-size: 8px;
    }

        .signup{
            text-align: center;
            box-shadow: 1px 0px 15px white;
            width: 500px;
            height: 150px;
            margin: 60px 0px 0px 0px;
            border-radius: 30px;
        
        }
    
        .signin{
            text-align: center;
            box-shadow: 1px 1px 10px white;
            margin: 100px 0px 0px 500px;
            width: 500px;
            height: 150px;
            margin: 60px 0px 0px 0px;
            border-radius: 30px;
        
        }
    
        #btndiv{
            text-align: center;
            /* margin-left: 80px; */
            position: fixed;
            left: 160px;
        }

}
 
@media only screen and (max-width: 437px){

    body{
        height: 120px;

    }

    #mainBox{
        width: 360px;
        margin-left: 41px;
        height: 480px;
        margin-right: 41px;
    }

    #value{
        width: 270px;
        margin-top: 15px;
    }

    #send{
        padding-left: 64px;
        margin-left: 290px;
        padding-top: 1px;
    
    }

    /* .fa{
        margin-left: -45px;
    } */

    #messageBox{
        height: 429px;
        font-size: 25px;
        padding-left: 5px;

    }

    #signout{
        width: 30px;
        height: 30px;
        margin: 37px 0px 0px -718px;
        font-size: 8px;
    }

    .signup{
        text-align: center;
        box-shadow: 1px 0px 15px white;
        width: 500px;
        height: 150px;
        margin: 60px 0px 0px 0px;
        border-radius: 30px;
    
    }

    .signin{
        text-align: center;
        box-shadow: 1px 1px 10px white;
        margin: 100px 0px 0px 500px;
        width: 500px;
        height: 150px;
        margin: 60px 0px 0px 0px;
        border-radius: 30px;
    
    }

    #btndiv{
        text-align: center;
        /* margin-left: 80px; */
        position: fixed;
        left: 160px;
    }
}

@media only screen and (max-width: 397px){

    body{
        height: 100%;
        width: 300px;

    }

    #mainBox{
        width: 300px;
        margin-left: 0px;
        height: 480px;
        margin-right: 0px;
    }

    #value{
        width: 210px;
        margin-top: 05px;
    }

    #send{
        padding-left: 64px;
        margin-left: 230px;
    
    }

    /* .fa{
        margin-left: -45px;
    } */

    #messageBox{
        height: 429px;
        font-size: 25px;
        padding-left: 5px;
    }

    .signout{
        margin: -55px 0px 10px 640px; 
    }

    #signout{
        width: 30px;
        height: 30px;
        font-size: 8px;
    }
}
